:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-hover: #424242;
    --light: #FFEDE1;
    --light-hover: #d2b8a8;
    --primary-color: #C57B57;
    --primary-color-hover: #a4603d;
    --secondary-color: #0E1C36;
    --secondary-color-hover: #243150;
    --input-placeholder: #ADA4A4;
    --sm-xl: 12px;
    --sm: 14px;
    --md: 18px;
    --lg: 22px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.navbar {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--light);
    display: flex;
    justify-content: space-between;
    padding: 8px 52px;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-p {
    margin: 0;
    color: var(--light);
    font-weight: bold;
    font-size: var(--lg);
}

.logo-p:hover {
    color: var(--light-hover);
}

.logo {
    width: 30px;
    height: 30px;
}

.language {
    display: inline-block;
    margin-right: 32px;
}

.dropdown {
    position: relative;
}

.language > .dropdown-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.language > .dropdown-link:hover {
    border-color: var(--light-hover);
}

.language > .dropdown-link img {
    width: 30px;
    height: 30px;
}

.language > .dropdown-link span {
    margin: 0;
    color: var(--light);
    font-size: var(--sm);
    font-weight: bold;
    justify-content: center;
}

.dropdown:hover span {
    color: var(--light-hover);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--secondary-color);
    border: 1px solid var(--light);
    border-radius: 8px;
    position: absolute;
    padding: 16px;
    z-index: 1;
    height: 120px;
    width: 100px;
    top: 46px;
    right: -7px;
}

.dropdown-content .text {
    color: var(--light);
    font-weight: bold;
    margin-top: 8px;
    font-size: var(--sm);
}

#change-language {
    background-color: var(--secondary-color);
    border: 2px solid var(--light);
    padding: 10px 16px 10px 4px;
    border-radius: 4px;
    color: var(--light);
    font-size: var(--sm-xl);
    font-weight: bold;
    cursor: pointer;
}

#change-language:focus {
    border-color: var(--light-hover);
}

@media (max-width: 768px) {
    .logo-p {
        font-size: var(--md);
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 8px 16px;
    }

    #change-language {
        padding: 5px 8px 5px 2px;
    }

}

@media (max-width: 425px) {
    .dropdown-content {
        right: -10px;
        height: 100px;
        width: 80px;
    }
    .language {
        margin: 0;
    }
    .language > .dropdown-link span {
        display: none;
    }

}




