:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-hover: #424242;
    --light: #FFEDE1;
    --light-hover: #d2b8a8;
    --primary-color: #C57B57;
    --primary-color-hover: #a4603d;
    --secondary-color: #0E1C36;
    --secondary-color-hover: #243150;
    --text-input-field: #DBCBC0;
    --input-placeholder: #ADA4A4;
    --sm-xl: 12px;
    --sm: 14px;
    --md: 18px;
    --lg: 22px;
}

body {
    font-family: 'Adamina', serif;
    margin: 0;
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--text-input-field);
    display: flex;
    justify-content: space-between;
    padding: 8px 52px;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container p {
    margin: 0;
    color: var(--light);
    font-weight: bold;
    font-size: var(--md);
}

.logo {
    width: 30px;
    height: 30px;
}

.language {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    height: 100%;
}

.dropdown span {
    margin: 0;
    color: var(--light);
    font-size: var(--sm-xl);
    font-weight: bold;
    justify-content: center;
}

.dropdown img {
    width: 30px;
    height: 30px;
}

.dropdown:hover span {
    color: var(--light-hover);
}

.dropdown-content {
    display: none;
    background-color: var(--primary-color);
    border: 1px solid var(--text-input-field);
    border-radius: 8px;
    position: absolute;
    padding: 16px;
    z-index: 1;
    height: 120px;
    width: 100px;
}

.language:focus-within .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dropdown-content .text {
    color: var(--light-hover);
    margin-top: 8px;
    font-size: var(--sm);
}

#dropdown-items {
    background-color: var(--primary-color);
    border: 2px solid var(--text-input-field);
    padding: 10px 16px 10px 4px;
    border-radius: 4px;
    color: var(--light-hover);
    font-size: var(--sm-xl);
}

#dropdown-items:hover {
    border-color: var(--text-color-hover);
}

.item {
    color: var(--text-color);
    font-size: var(--sm-xl);
}


