:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-hover: #424242;
    --light: #FFEDE1;
    --light-hover: #d2b8a8;
    --primary-color: #ff8e55;
    --primary-color-hover: #985534;
    --secondary-color: #0E1C36;
    --secondary-color-hover: #243150;
    --xs: 12px;
    --sm: 14px;
    --md: 18px;
    --lg: 22px;
    --xl: 26px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.navbar {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--light);
    display: flex;
    justify-content: space-between;
    padding: 8px 52px;
    height: 76px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-p {
    margin: 0;
    color: var(--light);
    font-weight: bold;
    font-size: var(--lg);
}

.logo-container:hover .logo-p {
    color: var(--light-hover);
}

.logo {
    width: 30px;
    height: 30px;
}

.logo-container:hover .logo {
    filter: brightness(0.8);
}

.language {
    display: inline-block;
    margin-right: 32px;
}

.dropdown {
    position: relative;
}

.language > .dropdown-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.language:hover > .dropdown-link {
    border-color: var(--light-hover);
}

.language > .dropdown-link img {
    width: 30px;
    height: 30px;
}

.language:hover > .dropdown-link img {
    filter: brightness(0.8);
}

.language > .dropdown-link span {
    margin: 0;
    color: var(--light);
    font-size: var(--sm);
    font-weight: bold;
    justify-content: center;
}

.language:hover > .dropdown-link span {
    color: var(--light-hover);
}

/* TODO create javascript to make dropdown content appear */
.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--secondary-color);
    border: 1px solid var(--light);
    border-radius: 8px;
    position: absolute;
    padding: 16px;
    z-index: 1;
    height: 120px;
    width: 100px;
    top: 46px;
    right: -7px;
}

.dropdown-content .text {
    color: var(--light);
    font-weight: bold;
    margin-top: 8px;
    font-size: var(--sm);
}

#change-language {
    background-color: var(--secondary-color);
    border: 2px solid var(--light);
    padding: 10px 16px 10px 4px;
    border-radius: 4px;
    color: var(--light);
    font-size: var(--xs);
    font-weight: bold;
    cursor: pointer;
}

#change-language:focus {
    border-color: var(--light-hover);
}

.main {
    margin: 76px 0 0 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 728px;
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 20px 0;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}

.text-container > h1 {
    color: var(--secondary-color);
    font-size: var(--xl);
    font-weight: bold;
    text-align: center;
}

.text-container > p {
    color: var(--black);
    font-size: var(--md);
}

.text-container > .mobile-p {
    display: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0 0 0;
    width: 100%;
}

.participants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px 8px 12px;
    border-radius: 8px;
    border: 2px solid var(--light);
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
}

.participants legend {
    color: var(--black);
    margin-bottom: 8px;
    font-size: var(--sm);
}

/* TODO make javascript in order to get a self-sizing textarea */
#add-participants {
    color: var(--black);
    font-size: var(--md);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: text;
    resize: none;
    overflow-y: hidden;
    width: 100%;
}

#add-participants::placeholder {
    color: var(--black-hover);
}

.participants:focus-within {
    border-color: var(--light-hover);
}

.specifications {
    margin-top: 16px;
    width: 100%;
    text-align: start;
    font-size: var(--sm);
    color: var(--black-hover);
}

#participants-number {
    color: var(--black);
    margin-top: 8px;
}

.groups-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    width: 25%;
    text-align: start;
    padding: 0 12px 8px 12px;
    border: 2px solid var(--light);
    border-radius: 8px;
    background-color: var(--primary-color);
}

.groups-number:hover {
    border-color: var(--light-hover);
}

.groups-number legend {
    color: var(--black);
    font-size: var(--sm);
    margin-bottom: 8px;
}

.groups-number legend label:nth-child(2) {
    display: none;
}

#groups-number-input {
    color: var(--black);
    font-size: var(--md);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    width: 768px;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--light);
    font-size: var(--md);
    font-weight: bold;
    padding: 16px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color-hover);
}

@media (max-width: 768px) {
    .logo-p {
        font-size: var(--md);
    }

    .container {
        margin: 32px 0;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }

    .text-container > h1 {
        font-size: var(--lg);
    }

    .text-container > .desktop-p {
        display: none;
    }

    .text-container > .mobile-p {
        display: block;
        text-align: center;
    }

    #add-participants {
        font-size: var(--sm);
    }

    .btn-container {
        width: 100%;
        padding: 0 16px;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 8px 16px;
    }

    #change-language {
        padding: 5px 8px 5px 2px;
    }

    .groups-number legend label:nth-child(1) {
        display: none;
    }

    .groups-number legend label:nth-child(2) {
        display: block;
    }
}

@media (max-width: 425px) {
    .dropdown-content {
        right: -10px;
        height: 100px;
        width: 80px;
    }
    .language {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .language > .dropdown-link {
        padding: 0 6px;
        height: 44px;
    }

    .language > .dropdown-link span {
        display: none;
    }
}




